.flex-container-carousel { 
    display: flex;
    justify-content: flex-start;
    align-items: center; 
  }

  .flex-container-list {
    flex: 1; 
    display: flex;
    justify-content:left;
    align-items: center; 
  }