<div class="ui items post-item" (click)="navigateToCountryPage()" style="cursor: pointer;">
    <div class="item">
      <div class="image">
        <img [src]="flagUrl" style="max-width: 175px; max-height: 100px;">
      </div>
      <div class="content">
        <h3>{{name}}</h3>
        <div class="meta">
          <span>{{capital}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Population: {{population | number}}
        </div>
      </div>
    </div>
  </div>