<div class="ui container">
  <div class="ui pointing menu">
    <img [src]="imagePath" style="max-width: 100%;max-height: 50px;"/>
    <a routerLink="" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/countries" routerLinkActive="active"  class="item" >Countries</a>
    <a routerLink="/about" routerLinkActive="active" class="item">About</a>
    <div class="right menu">
      <div class="item" style="z-index: 2000 !important;" *ngIf="isCountriesRoute()">
        <div class="ui simple selection dropdown">
          <input type="hidden" name="region" >
          <i class="dropdown icon"></i>
          <div class="text">{{region || 'Select a region'}}</div>
          <div class="menu">
            <div class="item" (click)="onClick($event)" *ngFor="let region of regionsArray">{{region}}</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="ui search">
          <div class="ui icon input">
            <input  (input)="onInput($event)" class="prompt" type="text" placeholder="Search countries...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <router-outlet></router-outlet>
  </div>
</div>
