<div class="ui three column divided grid">
    <div class="row">
      <div class="column"  *ngFor="let i of [0, 1, 2]">
        <ng-container *ngFor="let country of filteredList; let j = index;">
          <ng-container *ngIf="j % 3 === i">
            <app-country style="padding: 10px;" [name]="getCountryName(country)" [capital]="getCapital(country)" [flagUrl]="getFlagUrl(country)" [population]="getPopulation(country)"></app-country>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>